<div id="description">
  ランダムにペアプログラミングの組を作ります。<br/>
  参加者・メンター・不参加の別をCSVファイルでアップしてください。
  <%= link_to "sample.csv", "/sample.csv" %>
</div>

<%= form_with url: pairings_pair_path, id: "upLoad", local: true do |f| %>
  <%= f.file_field :file , id:"elmFile", onchange: 'selectFile()'%>
<% end %>


<%= @mentors %>

<%= render 'layouts/pairlist',  pairs: @data[:pairs] %>

<% if @data[:pairs] %>
<%= form_tag pairings_save_path, method: :get do %>
  このpairingを保存する場合は以下のテキスト欄に英数字を入力してsaveボタンを押してください。
  <%= text_field_tag :name %> <%= submit_tag "Save" %>
<% end %>
<% end %>