<!DOCTYPE html>
<html>
  <head>
    <title>Pairing for Coderetreat</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="content">
    <%= image_tag 'banner.png'%>
    <% flash.each do |message_type, message| %>
       <div class="alert alert-<%= message_type %>"><%= text_url_to_link(message).html_safe %></div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
